<!DOCTYPE html>
<html ng-app="studyAtSjtu">
<head>
    <title>Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/radiocheck.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- pignose css -->
    <link href="css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all"/>


    <!-- //pignose css -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/infostyle.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- angular -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- //angular -->
    <!-- chart.js -->
    <script type="text/javascript" src="js/chart.bundle.min.js"></script>
    <!-- //chart.js -->
    <!-- angular-chart.js -->
    <script type="text/javascript" src="js/angular-chart.min.js"></script>
    <!-- //angular-chart.js -->
    <!-- showdown.js -->
    <script type="text/javascript" src="js/showdown.min.js"></script>
    <!-- //showdown.js -->
    <!-- app -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- //app -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'>
    <script src="js/jquery.easing.min.js"></script>
</head>
<body>
<div>
    <!-- header -->
    <div class="">
        <div class="ban-top" ng-controller="BarCtl as ctl">
            <div class="container">
                <div class="top_nav_left">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav menu__list">
                                    <li class="active menu__item menu__item--current"><a class="menu__link" href=""
                                                                                         ng-click="ctl.change_content_to_classes()">首页<span
                                            class="sr-only">(current)</span></a></li>
                                    <li class=" menu__item"><a class="menu__link" href="">功能3</a></li>
                                    <li class=" menu__item"><a class="menu__link" href="" onclick="alert('This page is under test');">about</a></li>
                                    <li class=" menu__item"><a class="menu__link" href="" onclick="alert('Email: hbyyeah@qq.com');">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot" ng-controller="SearchCtl as ctl">
        <div class="container">
            <div class="col-md-3 header-left">
                <h1><a href="index.html"><img src="images/sjtu.png"></a></h1>
            </div>
            <div class="col-md-6 header-middle">
                <form ng-submit="ctl.submit_search()">
                    <div class="search">
                        <input type="search" ng-model="ctl.inp" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = '查找课程';}" required="">
                    </div>
                    <div class="sear-sub">
                        <input type="submit" value=" ">
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->

    <!-- //banner-top -->


    <!-- product-nav -->

    <div class="product-easy" ng-controller="ContentCtl as ctl" class="ng-cloak">
        <div class="container">

            <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });

            </script>

            <div class="sap_tabs" ng-show="ctl.if_content_classes()">
                <div class="product-men" ng-repeat="class in ctl.classes">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="item-info-product ">
                            <h4><a href="" ng-bind="class.name" ng-click="ctl.view_single(class.num,ctl.from_index)"></a></h4>
                            <div class="info-product-price">
                                <!--<span class="item_price" ng-bind="class.info"></span>-->
                                <form>
                                    <table class="table">
                                        <tbody>
                                        <tr ng-repeat="task in class.tasks">
                                            <td>
                                                <div>
                                                    <input type="checkbox" class="radiocheck" id={{class.name+task.num}}
                                                           ng-model="task.complete" ng-disabled="task.outdate">
                                                    <label for="{{class.name+task.num}}"
                                                           class="nofull small left"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-class="ctl.comment_css(task.complete,task.outdate)"
                                                     data-toggle="modal"
                                                     data-target="#{{class.name+task.num+ctl.popout}}"
                                                    class="cursor-pointer">
                                                    <p ng-bind="task.comment"></p>
                                                </div>
                                            </td>
                                            <td><p ng-bind="task.release"></p></td>
                                            <td><p ng-bind="task.ddl"></p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>

                            </div>
                            <a class="item_add single-item hvr-outline-out button2"
                               ng-click="ctl.view_single(class.num,ctl.from_index)">查看详情</a>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="sap_tabs" ng-show="ctl.if_content_search()">
                <div class="product-men" ng-repeat="class_record in ctl.search_result">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="item-info-product ">
                            <h4><a href="" ng-bind="class_record.name" ng-click="ctl.view_single(class.num,ctl.from_search)"></a></h4>
                            <div class="info-product-price-c">
                                <div>
                                <span class="fa fa-star"
                                      ng-class="ctl.get_star_rating_value(1,class_record.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(2,class_record.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(3,class_record.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(4,class_record.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(5,class_record.rating)"></span>
                                </div>
                                <span class="item_price" ng-bind="ctl.get_class_intro(class_record)"></span>

                            </div>
                            <a ng-click="ctl.view_single(class.num,ctl.from_search)"
                               class="item_add single-item hvr-outline-out button2">查看详情</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="sap_tabs single-tab" ng-show="ctl.if_content_single()">
                <div class="my-single">
                    <ol class="breadcrumb">
                        <li><a href="" ng-click="ctl.return_to_prev_tab()">{{ctl.prev_tab}}</a></li>
                        <li class="active">课程详情</li>
                    </ol>
                    <div class="single-title">

                        <h2>{{ctl.current_single.name}}</h2>
                    </div>
                    <div class="single-head">
                        <h4>课程历年平均分</h4>
                        <canvas id="trends" class="chart chart-line trends-canvas" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-click="onClick"></canvas>
                    </div>
                    <div class="single-overview" ng-show="ctl.current_single.finish">

                        <div class="analysis-canvas">
                            <canvas id="analysis" class="chart chart-bar" chart-data="data2"
                                    chart-labels="labels2" chart-series="series2"></canvas>

                            <div data-toggle="modal"
                                 data-target="#class-ranking" class="more-icon">
                                    <p class="cursor-pointer">分数详情 <i class="fa fa-angle-right" aria-hidden="true"></i></p>
                            </div>
                        </div>
                        <div class="analysis-comment">
                            <div class="single-rating">
                                <p>学生打分：</p>
                                <span class="fa fa-star fa-2x"
                                      ng-class="ctl.get_star_rating_value(1,ctl.current_single.rating)"></span>
                                <span class="fa fa-star fa-2x"
                                      ng-class="ctl.get_star_rating_value(2,ctl.current_single.rating)"></span>
                                <span class="fa fa-star fa-2x"
                                      ng-class="ctl.get_star_rating_value(3,ctl.current_single.rating)"></span>
                                <span class="fa fa-star fa-2x"
                                      ng-class="ctl.get_star_rating_value(4,ctl.current_single.rating)"></span>
                                <span class="fa fa-star fa-2x"
                                      ng-class="ctl.get_star_rating_value(5,ctl.current_single.rating)"></span>
                            </div>
                            <p>选课人数：{{ctl.current_single.people}}</p>
                            <p>挂科率：{{ctl.current_single.failrate}}</p></div>
                        <div class="avg"><p>平均分：</p><h2>{{ctl.current_single.score}}</h2></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="single-tasks">
                        <div class="task-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>任务名</th>
                                    <th>发布日期</th>
                                    <th>截止日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="task in ctl.current_single.tasks">
                                    <td>
                                        <div data-toggle="modal"
                                             data-target="#{{ctl.current_single.name+task.num+ctl.popout_s}}"
                                            class="cursor-pointer">
                                            <p ng-bind="task.comment"></p></div>
                                    </td>
                                    <td><p ng-bind="task.release"></p></td>
                                    <td><p ng-bind="task.ddl"></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-bar">
                                <div class="more-icon">
                                    <p class="cursor-pointer"><a herf="#">更多任务 <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="resource-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>资源名</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rsrc in ctl.current_single.resources">
                                    <td>
                                        <div data-toggle="modal"
                                             data-target="#{{ctl.current_single.name+rsrc.name+ctl.popout_rs}}"
                                            class="cursor-pointer">
                                            <p ng-bind="rsrc.name"></p></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-bar">
                                <div class="more-icon">
                                    <p class="cursor-pointer"><a herf="#">更多资源 <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="single-comments">
                        <div class="comment-form"><form ng-submit="ctl.submit_comment()">
                            <h3 class="tittle">评论</h3>
                            <div class="contact-form2">
                                <div class="name-input"><input type="text" value="Name" ng-model="ctl.comment_form_user" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'anonymous';}" required=""></div>
                                <div class="star-ranker">
                                    <span class="fa fa-star fa-3x cursor-pointer" id="star1" ng-click="ctl.put_ranking(1)"
                                          ng-class="ctl.get_star_rating_value(1,ctl.comment_form_ranking)"></span>
                                    <span class="fa fa-star fa-3x cursor-pointer" id="star2" ng-click="ctl.put_ranking(2)"
                                          ng-class="ctl.get_star_rating_value(2,ctl.comment_form_ranking)"></span>
                                    <span class="fa fa-star fa-3x cursor-pointer" id="star3" ng-click="ctl.put_ranking(3)"
                                          ng-class="ctl.get_star_rating_value(3,ctl.comment_form_ranking)"></span>
                                    <span class="fa fa-star fa-3x cursor-pointer" id="star4" ng-click="ctl.put_ranking(4)"
                                          ng-class="ctl.get_star_rating_value(4,ctl.comment_form_ranking)"></span>
                                    <span class="fa fa-star fa-3x cursor-pointer" id="star5" ng-click="ctl.put_ranking(5)"
                                          ng-class="ctl.get_star_rating_value(5,ctl.comment_form_ranking)"></span>
                                </div>
                                <textarea type="text" ng-model="ctl.comment_form_text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                <input type="submit" value="提交评论" >
                            </div>
                        </form>
                        </div>
                        <div class="comment-list">
                            <div class="item-info-product single-a-comment" ng-repeat="comment in ctl.current_single_comments.comments">
                                <h4 ng-bind="comment.user"></h4>
                                <div>
                                <span class="fa fa-star"
                                      ng-class="ctl.get_star_rating_value(1,comment.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(2,comment.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(3,comment.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(4,comment.rating)"></span>
                                    <span class="fa fa-star"
                                          ng-class="ctl.get_star_rating_value(5,comment.rating)"></span>
                                </div>
                                <div class="info-product-price comment-text" ng-bind="comment.text"></div>
                            </div>
                            <nav>
                                <ul class="pagination">
                                    <li ng-class="ctl.get_nav_class(-1)"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li ng-class="ctl.get_nav_class(1)"><a href="#">1</a></li>
                                    <li ng-class="ctl.get_nav_class(2)"><a href="#">2</a></li>
                                    <li ng-class="ctl.get_nav_class(3)"><a href="#">3</a></li>
                                    <li ng-class="ctl.get_nav_class(4)"><a href="#">4</a></li>
                                    <li ng-class="ctl.get_nav_class(5)"><a href="#">5</a></li>
                                    <li ng-class="ctl.get_nav_class(-2)"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--My tasks details-->
        <div ng-repeat="class in ctl.classes">
            <div class="modal fade" ng-repeat="task in class.tasks" id="{{class.name+task.num+ctl.popout}}"
                 tabindex="-1"
                 role="dialog" aria-labelledby="{{task.comment}}" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered modal-mywidth" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" ng-bind="task.comment"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body markdown-area" ng-bind-html="ctl.get_trusted_html(task.detail)">

                        </div>

                        <div class="modal-footer">
                            <a type="button" class="item_add single-item hvr-outline-out button2"
                               data-dismiss="modal">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//My tasks details-->

        <!--Current single tasks details-->
        <div class="modal fade" ng-repeat="task in ctl.current_single.tasks" id="{{ctl.current_single.name+task.num+ctl.popout_s}}"
             tabindex="-1"
             role="dialog" aria-labelledby="{{task.comment}}" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered modal-mywidth" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-bind="task.comment"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body markdown-area" ng-bind-html="ctl.get_trusted_html(task.detail)">
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="item_add single-item hvr-outline-out button2"
                           data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>
        <!--//Current single tasks details-->

        <!--Current resources details-->
        <div class="modal fade" ng-repeat="rsrc in ctl.current_single.resources" id="{{ctl.current_single.name+rsrc.name+ctl.popout_rs}}"
             tabindex="-1"
             role="dialog" aria-labelledby="{{rsrc.name}}" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered modal-mywidth" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" ng-bind="rsrc.name"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body markdown-area" ng-bind-html="ctl.get_trusted_html(rsrc.detail)">
                    </div>
                    <div class="modal-body">
                        <a herf="{{rsrc.url}}">资源链接</a>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="item_add single-item hvr-outline-out button2"
                           data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>
        <!--//Current resources details-->
        <!--class ranking-->
        <div class="modal fade" id="class-ranking"
             tabindex="-1"
             role="dialog" aria-labelledby="class-ranking" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered modal-mywidth" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">成绩排名</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="score-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>排名</th>
                                    <th ng-click="ctl.current_single.scorelist.sort(ctl.compare_by_overall_score)" class="cursor-pointer">总分 <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                    <th ng-click="ctl.current_single.scorelist.sort(ctl.compare_by_test_score)" class="cursor-pointer">考试成绩 <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                    <th ng-click="ctl.current_single.scorelist.sort(ctl.compare_by_third_score)" class="cursor-pointer">平时分 <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="record in ctl.current_single.scorelist">
                                    <td>
                                        <p ng-bind="$index+1"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="record[0]"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="record[1]"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="record[2]"></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="item_add single-item hvr-outline-out button2"
                           data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>
        <!--//class ranking-->

    </div>
</div>


<!-- //product-nav -->

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-9 footer-right">

            <div class="clearfix"></div>
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">L1</a></li>
                        <li><a href="#">L2</a></li>
                        <li><a href="#">L3</a></li>
                        <li><a href="#">L4</a></li>
                        <li><a href="#">L5</a></li>
                    </ul>
                </div>

                <div class="col-md-4 sign-gd-two">
                    <h4>Store Information</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 800 Dongchuan Rd.
                            , <span>Shanghai.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a
                                href="mailto:info@example.com">info@example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +86 233333
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 sign-gd flickr-post">
                    <h4>Flickr Posts</h4>
                    <ul>
                        <li><a href="#"><img src="images/b15.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b16.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b17.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b18.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b15.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b16.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b17.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b18.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                        <li><a href="#"><img src="images/b15.jpg" alt=" " class="img-responsive"/></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right">Copyright &copy; 2016.Company name All rights reserved.More Templates <a
                href="http://www.cssmoban.com/" target="_blank" title="My">Group</a> - Collect from <a
                href="http://www.cssmoban.com/" title="tp" target="_blank">tp</a></p>
    </div>
</div>
<!-- //footer -->
<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-bottom">
                            <h3>Sign up for free</h3>
                            <form>
                                <div class="sign-up">
                                    <h4>Email :</h4>
                                    <input type="text" value="Type here" onfocus="this.value = '';"
                                           onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                </div>
                                <div class="sign-up">
                                    <h4>Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';"
                                           onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                </div>
                                <div class="sign-up">
                                    <h4>Re-type Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';"
                                           onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                </div>
                                <div class="sign-up">
                                    <input type="submit" value="REGISTER NOW">
                                </div>

                            </form>
                        </div>
                        <div class="login-right">
                            <h3>Sign in with your account</h3>
                            <form>
                                <div class="sign-in">
                                    <h4>Email :</h4>
                                    <input type="text" value="Type here" onfocus="this.value = '';"
                                           onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                </div>
                                <div class="sign-in">
                                    <h4>Password :</h4>
                                    <input type="password" value="Password" onfocus="this.value = '';"
                                           onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                    <a href="#">Forgot password?</a>
                                </div>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>Remember Me.</label>
                                </div>
                                <div class="sign-in">
                                    <input type="submit" value="SIGNIN">
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy
                        Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->

</body>
</html>
